<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SegementFault_Dev.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SegementFault_iSF.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF310D101AB86133003A74F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD762DC1A14BCF6004826EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFD762F51A14BCF6004826EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF5F8E01AB86EB5009964D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
